@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: var(--bs-dark);
}

a[target="_blank"]::after {
    font-family: "Material Icons";
    content: "open_in_new";
}

#profile-card {
    background-color: var(--bs-gray-dark);
}