<section class="container px-5 my-4 d-flex flex-column align-items-center">
  <div class="card text-center rounded-3" id="profile-card">
    <img src="assets/img/avatar.png" alt="Avatar" class="card-img-top w-25 mx-auto">
    <div class="card-body">
      <h1 class="card-title">Abigail de Joode</h1>
      <p class="card-text">She/Her</p>
    </div>
  </div>
</section>
<section id="projects" class="d-flex flex-column align-items-center container-fluid px-5">
  <h1>Projects</h1>
  <div class="card mb-4 rounded-3 project-card overflow-hidden">
    <img src="assets/img/projects/catbox-banner.png" alt="catbox screenshot" class="card-img">
    <div class="card-img-overlay">
      <h2 class="card-title">catbox</h2>
      <p class="card-text">A cat themed Discord minigame bot</p>
      <a href="https://github.com/abbydiode/catbox" class="btn btn-primary">GitHub</a>
    </div>
  </div>
  <div class="card mb-4 rounded-3 project-card overflow-hidden">
    <img src="assets/img/projects/princeofpersia-banner.png" alt="catbox screenshot" class="card-img">
    <div class="card-img-overlay">
      <h2 class="card-title">Prince of Persia</h2>
      <p class="card-text">Simple remastered version of Prince of Persia 1989 made in Unity3D</p>
      <a href="https://github.com/abbydiode/prince-of-persia" class="btn btn-primary">GitHub</a>
    </div>
  </div>
</section>
<!-- To be implemented
<a href="#top" class="btn btn-primary position-fixed rounded-pill" id="button-top">
  <mat-icon>arrow_upward</mat-icon>
</a>
-->
<footer class="d-flex border-top mt-4 py-4 justify-content-center">
  <p>This webpage was made with ❤️ by me, using Angular, and Bootstrap</p>
</footer>