$primary-color: #ff8a00;
$secondary-color: #e52e71;
$bs-dark: var(--bs-dark);
$bs-gray-dark: var(--bs-gray-dark);

#profile-card {
	background-color: $bs-gray-dark;

	&:hover {
		transform: scale(1.01);
	}
}

.project-card {
	width: 50%;
	@media (orientation: portrait) { width: 75%; }
}

.project-card {
	&:hover {
		transform: scale(1.01);

		.card-img {
			filter: blur(0px);
		}
	}

	.card-img {
		height: 12rem;
		filter: blur(4px);
		object-fit: cover;
	}
}

.img-blurred {
	overflow: hidden;
	border-radius: 0.2rem;

	.card-img {
		transform: scale(1.1);
	}
}

#button-top {
	bottom: 0;
	right: 0;
}
