<!-- 
  <nav>
    <p>Abby's Homepage</p>
    <a href="index.php">Home</a>
    <a href="index.php#top">About Me</a>
    <a href="index.php#projects">Projects</a>
  </nav> 
-->
<section id="profile" class="padded">
  <section id="profile-card">
    <h1>Abby</h1>
    <img src="assets/img/avatar.png" alt="Avatar">
  </section>
</section>
<section id="projects" class="padded">
  <h1>Projects</h1>
  <a href="https://github.com/abbydiode/catbox" class="project-card">
    <img src="assets/img/projects/catbox-banner.png" alt="catbox screenshot">
    <h2>catbox</h2>
    <p>A cat themed Discord minigame bot</p>
    <img src="assets/img/icons/nodejs.svg" alt="nodejs Logo" class="project-card-lang">
  </a>
  <a href="https://github.com/abbydiode/prince-of-persia" class="project-card">
    <img src="assets/img/projects/princeofpersia-banner.png" alt="Prince of Persia 18 screenshot">
    <h2>Prince of Persia 18</h2>
    <p>A highschool project where I stole the concept from an old game and then made it 3D</p>
    <img src="assets/img/icons/csharp.svg" alt="csharp Logo" class="project-card-lang">
  </a>
</section>
<a href="#top" id="button-top" style="display: none">
  <h4>Back To Top</h4>
</a>
<footer>
  <p>Maybe I'll finish this website one day</p>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="assets/js/index.js"></script>
</footer>