$primary-color: #ff8a00;
$secondary-color: #e52e71;
$bs-dark: var(--bs-dark);
$bs-gray-dark: var(--bs-gray-dark);

#profile-card {
	background-color: $bs-gray-dark;
	transition: 0.1s
}

#profile-card:hover {
	transform: scale(1.01);
}

#button-top {
	bottom: 0;
	right: 0;
}

.project-card {
	transition: 0.1s;
	width: 50%;
	height: 12rem;
}

.project-card .card-img {
	filter: blur(2px);
}

.project-card:hover {
	transform: scale(1.01);
}
