<section class="container px-5 my-4 d-flex flex-column align-items-center">
  <div class="card text-center pt-3" id="profile-card">
    <img src="assets/img/avatar.png" alt="Avatar" class="card-img-top w-25 mx-auto">
    <div class="card-body">
      <h1 class="card-title">Abigail de Joode</h1>
      <p class="card-text">She/Her</p>
    </div>
  </div>
</section>
<h1 class="pb-3 m-4 border-bottom text-center">Projects</h1>
<section id="projects" class="d-flex flex-column align-items-center">
  <div class="card mb-4 project-card">
    <div class="img-blurred">
      <img src="assets/img/projects/catbox-banner.png" alt="catbox screenshot" class="card-img">
    </div>
    <div class="card-img-overlay overflow-auto">
      <h2 class="card-title">catbox</h2>
      <p class="card-text">A cat themed Discord minigame bot</p>
      <a href="https://github.com/abbydiode/catbox" target="_blank" class="btn btn-primary">GitHub<mat-icon class="fs-6">open_in_new</mat-icon></a>
    </div>
  </div>
  <div class="card mb-4 project-card">
    <div class="img-blurred">
      <img src="assets/img/projects/princeofpersia-banner.png" alt="catbox screenshot" class="card-img">
    </div>
    <div class="card-img-overlay overflow-auto">
      <h2 class="card-title">Prince of Persia</h2>
      <p class="card-text">Simple remastered version of Prince of Persia 1989 made in Unity3D</p>
      <a href="https://github.com/abbydiode/prince-of-persia" target="_blank" class="btn btn-primary">GitHub<mat-icon class="fs-6">open_in_new</mat-icon></a>
    </div>
  </div>
</section>
<!-- To be implemented
<a href="#top" class="btn btn-primary position-fixed rounded-pill" id="button-top">
  <mat-icon>arrow_upward</mat-icon>
</a>
-->
<footer class="d-flex flex-column border-top mt-4 py-4 align-items-center mx-4 text-center">
  <p class="mb-0">This webpage was made with ❤️ by me</p>
  <small class="text-muted">
    Created with <a href="https://angular.io/" target="_blank" class="link-secondary">Angular<mat-icon class="fs-6">open_in_new</mat-icon></a> styled with <a href="https://getbootstrap.com/" target="_blank" class="link-secondary">Bootstrap<mat-icon class="fs-6">open_in_new</mat-icon></a>
  </small>
</footer>