@import url('https://fonts.googleapis.com/css?family=Montserrat');

$bs-dark: var(--bs-dark);

html, body { 
    height: 100%; 
}
body { 
    margin: 0;
    font-family: 'Montserrat', sans-serif;
	color: white;
    background-color: $bs-dark;
}

* {
    transition: 0.1s;
}
